<div class="row">
  <div class="large-7 small-12 columns large-centered">
    <div class="panel" id="border-radius-combo" style="margin-top:50px;">
      <h1 style="text-align:center;"><%= SITE_TITLE %></h1>
      <h4 class="subheader" style="text-align:center" ><%= raw SITE_BLURB %></h4>
      <h4 class="subheader" style="text-align:center" ><%= raw SITE_COMING %></h4>

      <p style="text-align:center;"><em>Sign up to stay informed:</em></p>

      <div class="row">
        <%= form_tag '/interested' do %>
          <div class="large-9 small-8 columns"><%= email_field_tag 'email', nil, placeholder: 'Email address' %></div>
          <div class="large-9 small-8 columns"><%= submit_tag 'Yes!', class: 'postfix radius button' %></div>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
      </div>

      <h6 class="subheader" style="text-align:center;">
        (Follow us on <a href="http://twitter.com/<%= TWITTER_NAME %>" target="_blank">Twitter</a>.)
      </h6>
    </div>
  </div>
</div>