<!-- Preloader -->
		<div id="preloader">
			<div id="status" class="text-center">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</div>
		</div>
		
		<!-- Main -->
		<div id="mainContent">
		<section class="main text-center" id="home">
			<div class="page">
				<div class="wrapper">
					<div class="container">
						<img src="<% asset_path("logo/logo.png") %>" alt="Logo"> 
						<h2></h2> 
						<h1 class="heading">RiverCloud</h1>
						<p> Visualize Your Social Beat </p>
						<!--<p>~ Real Time ~</p> -->
						<p>
							Community Branding ~ Personalized Experience
						</p>
						<!--<div class="row">
							<div id="countdown"></div>
						</div> -->
						<!-- Subscription form -->
						<!--<form class="form-inline signup" action="php/signupForm.php" role="form" id="signupForm"> -->
						<%= form_tag '/interested', :class=> 'form-inline', :id=>"signupForm"  do %>  <!--:id => 'signupForm', :class => 'form-inline' do 	-->
							<div class="form-group">
								<!--<input type="email" name="email" class="form-control" placeholder="Email address"> -->
								<%= email_field_tag 'email', nil, placeholder: 'Email address', class: 'form-control', :style=>"text-align:center" %>
							</div>
							<div class="form-group">
								<!--<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get notified!</span></button> -->
								 <%= submit_tag 'More Info', class: 'btn btn-theme ladda-button', 'data-style'=>"expand-left" %>
							</div>
							<%= hidden_field_tag :ref, "#{@ref}" %>
						<% end %>	
						 <div data-alert class="alert-box radius"><%= alert %></div>
						<!--</form> --> 
					</div>
						<footer class="text-center">
							<div class="social">
								<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a> 
								<a href="http://twitter.com/<%= TWITTER_NAME%>" target="_blank" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
							
							<!--	<a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="btn btn-theme"><i class="fa fa-dribbble"></i></a>
								<a href="#" class="btn btn-theme"><i class="fa fa-linkedin"></i></a> -->
							</div>
						</footer>
					<div class="arrow-down">
						<a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- About -->
		<section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">About</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							<strong>RiverCloud, Inc</strong> is a Boulder, Colorado company that focuses on the aggregation of social content to provide a dynamic visual experience. The RiverCloud application organizes and streams personalized content for real time display in web frameworks. The workflow promotes social engagement through the timely flow of community branding! 
						</p>
						<center><P>~ Community Branding ~ Personalized Experience ~</p></center>  
						<!--<p>RiverCloud's cloud-based workflow provides a simple collaborative approach to organize, manage and distribute media content from any where in the world directly into your registered frameworks.  
						</p> -->
						<div class="row">
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown">
									<div class="icon">
										<i class="fa fa-tablet"></i>
									</div>
									<div class="description">
										<h4>Cloud-Based Application</h4>
										<p>Application makes it easy to aggregate and organize the latest content.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
									<div class="icon">
										<i class="fa fa-refresh fa-spin"></i> 
									</div>
									<div class="description">
										<h4>Real-Time Streaming</h4>
										<p>Platform supports real-time updates and streaming to display devices.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
									<div class="icon">
										<i class="fa fa-heart"></i>
									</div>
									<div class="description">
										<h4>Community Branding</h4>
										<p>Real time visualization of your community pulse. See the conversation.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	  <!--  <div id="pricing-charts"> -->
	 <!--  <section id="about" class="section"> -->
		<div class="content-wrapper">
		
		<!--<div class="first-option"> -->
			<div class="row header_charts">
				<div class="col-md-12">
					<h3>Flexible plans</h3>
					<p>Choose the pricing that fits your needs</p>
				</div>
			</div>
			<div class="row charts">
				<div class="col-md-3">
					<div class="chart first">
						<div class="plan-name">Local</div>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">34.99</span>
							<span class="period">/month</span>
						</div>
						<div class="specs">
							<div class="spec">
								<span class="variable">10</span>
							    Playlists
							</div>
							<div class="spec">
								<span class="variable">10 GB</span>
								Personal Storage
							</div>
							<div class="spec">
								<span class="variable">2</span>
								Display Accounts
							</div>
							<div class="spec">
								<span class="variable">5</span>
								Social Data Feeds
							</div>
							<div class="spec">
								<span class="variable">Daily</span>
								Auto Updates
							</div>
						</div>
					<!--	<a class="button" href="<%# form_pricing_index_path %>">
							<span>Start free trial</span>
						</a> -->
					</div>
				</div>
				<div class="col-md-3">
					<div class="chart featured">
						<%= image_tag "ribbon.png", class: "popular" %>
						<div class="plan-name">Profesional</div>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">64.99</span>
							<span class="period">/month</span>
						</div>						
						<div class="specs">
							<div class="spec">
								<span class="variable">20</span>
							    Playlists
							</div>
							<div class="spec">
								<span class="variable">10 GB</span>
								Personal Storage
							</div>
							<div class="spec">
								<span class="variable">4</span>
								Display Accounts
							</div>
							<div class="spec">
								<span class="variable">5</span>
								Social Data Feeds
							</div>
							<div class="spec">
								<span class="variable">Daily</span>
								Auto Updates
							</div>
						</div>
					<!--	<a class="button" href="<%# form_pricing_index_path %>">
							<span>Start free trial</span>
						</a> -->
					</div>
				</div>
				<div class="col-md-3">
					<div class="chart">
						<div class="plan-name">Premium</div>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">99.99</span>
							<span class="period">/month</span>
						</div>
						<div class="specs">
							<div class="spec">
								<span class="variable">40</span>
							    Playlists
							</div>
							<div class="spec">
								<span class="variable">20 GB</span>
								Personal Storage
							</div>
							<div class="spec">
								<span class="variable">8</span>
								Display Accounts
							</div>
							<div class="spec">
								<span class="variable">5</span>
								Social Data Feeds
							</div>
							<div class="spec">
								<span class="variable">Hourly</span>
								Auto Updates
							</div>
						</div>
					<!--	<a class="button" href="<%# form_pricing_index_path %>">
							<span>Start free trial</span>
						</a> -->
					</div>
				</div>	
				<div class="col-md-3">
					<div class="chart last">
						<div class="plan-name">Events</div>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">199.99</span>
							<span class="period">/day</span>
						</div>
						<div class="specs">
							<div class="spec">
								<span class="variable">20</span>
							    Playlists
							</div>
							<div class="spec">
								<span class="variable">40 GB</span>
								Personal Storage
							</div>
							<div class="spec">
								<span class="variable">10</span>
								Display Accounts
							</div>
							<div class="spec">
								<span class="variable">5</span>
								Social Data Feeds
							</div>
							<div class="spec">
								<span class="variable">Hourly</span>
								Auto Updates
							</div>
							<div class="spec">
								<span class="variable">4</span>
								Hours Consultation
							</div>
						</div>
					<!--	<a class="button" href="<%# form_pricing_index_path %>">
							<span>Start free trial</span>
						</a> -->
					</div>
				</div>			
			</div>
			<div class="row message">
				<p>
					All of our plans come with a 30 day trial </p> <!-- with no credit card required, we also offer a 
					<a href="<%# form_pricing_index_path %>">free plan</a>. -->
				</p>
			</div>
			</div>
	<!--	</div> -->
<!--	</section>  -->

			<!-- 16:9 aspect ratio -->
	 	<section id="about"class="section"> 
	 	<div class="container">
	 			<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">RiverCloud.tv</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
  		 <div class="row">
    		<div class="col-sm-12"> 
				<div class="h_iframe"> <!--"embed-responsive embed-responsive-16by9"> class="embed-responsive-item"-->
				<center>
				  <img class="ratio" src="http://placehold.it/16x9"/>
				  <iframe  src="https://s3.amazonaws.com/rivercloud-production/rivercloudtv/e37c967bf6f810917c30da9a373ed374/rivercloud-master/index.html"></iframe>
				</center>
			  </div>
			</div> 
		  </div>
		 </div> 
		</section>

		<!--<div  class="riverMain" id="riverContent"></div> ->
		
		Team  -->
	<!--	<section id="team" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Our team</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-sm-3 hidden-xs text-center team-member-container wow fadeInDown">
						<div class="team-member">
							<div class="team-member-img">
								<img src="<%# asset_path("portraits/1.jpg") %>" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>TBD</h4>
								<span class="team-member-profession">Chief Technologist</span>
								<p>Years of experience manageing cloud-based applications. Passionate about work and life. </p>
								<div class="social">
									<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
									<a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a> 
								</div>
							</div>
						</div> 
					</div>  
					<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="<%# asset_path("portraits/G_ReeseCEO.jpg") %>" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Glenn Reese</h4>
								<span class="team-member-profession">Founder/Chief Officer</span>
								<p>15 years experience managing technical and business solutions. Driven by a vision to build a personalized network!
								</p>
								<div class="social">
									<a href="http://facebook.com/glennr12" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="http://twitter.com/GlennReese" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
									<a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.4s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="<%# asset_path("portraits/J_ReeseBiz2.jpg") %>" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Julie Reese</h4>
								<span class="team-member-profession">Business Solutions</span>
								<p>12 years of early childhood experience. Driven to more easily capture and share special  moments with family and friends.
								</p>
								<div class="social">
									<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
									<a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a> 
								</div>
							</div>
						</div>
					</div>
				<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.6s">
				 		<div class="team-member">
							<div class="team-member-img">
								<img src="<%# asset_path("portraits/1.jpg") %>" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>TBD</h4>
								<span class="team-member-profession">Chief Product</span>
								<p>Years of expereince listening to customers to guide the agile "product" life cycles</p>
								<div class="social">
									<a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
									<a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a> 
								</div>
							</div>
						</div> 
					</div> 
				</div>
			</div>
		</section> -->
		
		<!-- Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Contact</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<p>
							Whether your an <strong>Investor</strong> or <strong>interested person</strong>, we would love to hear your comments. 
						<ul class="list-contacts">
							<!--<li><i class="fa fa-phone"></i> (123) 456-7890</li> -->
							<li><i class="fa fa-mobile-phone"></i> (720)635-4904</li>
							<li><i class="fa fa-map-marker"></i> 755 S. 44th St. <br> Boulder, CO 80305</li>
							<li><i class="fa fa-envelope-o"></i> <a href="mailto:info@seventytwo.com">product@rivercloud.co</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
					<!--	<form class="form-horizontal" action="php/contactForm.php" method="post" role="form" id="contactForm">  -->
					<%= form_tag '/contactinfo', :class=> 'form-horizontal', :id => "contactForm" do %> 

							<div class="form-group">
								<div class="col-sm-6">
									<%= text_field_tag 'name', nil, placeholder: 'Name', :class=> "form-control" %>
								<!--	<input type="text" name="name" class="form-control" placeholder="Name">	-->
								</div>
								<div class="col-sm-6">
									<%= email_field_tag 'email', nil, placeholder: 'Email', :class=> 'form-control'%>
									<!--<input type="text" name="contactEmail" class="form-control" placeholder="Email"> -->
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<!--<textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea> -->
                                    <%= text_area_tag 'message', nil, placeholder: 'Message',  :rows => 4, :class=> "form-control" %> 

								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<!--<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
										<span class="ladda-label">Submit</span>
									</button> -->
									<%= submit_tag 'Submit', class: 'btn btn-theme ladda-button', 'data-style'=>"expand-left" %>
								</div>
							</div>
						<% end %>	
						<!--</form> -->
					</div>
				</div>
			</div>
		</section>
	</div>